@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    /* For Firefox */
    scrollbar-width: none;
    /* For Chrome, Safari, and Edge */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}